body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
}

main {
    padding: 2rem 0;
}
.carousel-inner img {
    width: 500px; /* Ajusta el ancho según tus necesidades */
    height: 500px; /* Ajusta la altura según tus necesidades */
    object-fit: contain; /* Asegura que la imagen no se deforme */
    margin: 0 auto; /* Centra las imágenes dentro del carrusel */
}
.carousel-caption {
    color: rgb(0, 0, 0) ;
}

.card button, form button, .button-link {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 5px;
}

.card button:hover, form button:hover, .button-link:hover {
    background-color: #367c39;
}

.productos-grid, .resenas-grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card .text-danger {
    font-weight: bold;
    font-size: 1.2rem;
}

.card .text-decoration-line-through {
    color: #888;
    font-size: 1rem;
}

#contacto h2 {
    color: #4CAF50;
    font-weight: bold;
    margin-bottom: 20px;
}

#contacto form .btn {
    background-color: #4CAF50;
    border: none;
    transition: background-color 0.3s ease;
}

#contacto form .btn:hover {
    background-color: #367c39;
}

#contacto textarea::placeholder,
#contacto input::placeholder {
    color: #aaa;
    font-style: italic;
}
.resenas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
}

.resena {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resena-text {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.resena-autor {
    font-size: 0.9rem;
    color: #666;
    font-weight: bold;
    text-align: right;
}


@media (max-width: 768px) {
    .productos-grid, .resenas-grid {
        flex-direction: column;
    }
}
